.questions {
    min-height: 700px;
    padding-bottom: 30px;
    @include section-border;
    &__y {
        position: absolute;
        top: 50%;
        left: 5px;
        border-top: 1px solid black;
        width: 20px;
    }
    &__x {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        border-left: 1px solid black;
        height: 20px;
    }
    &__quest {
        position: relative;
        border: 1px solid $main-blue;
        border-radius: 10px;
        padding: 5px 5px 5px 30px;
        font-weight: 500;
        background-color: rgba(128, 128, 128, .2);
    }
    &__wrapper {
        position: relative;
        margin-top: 20px;
    }
    &__ans {
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
        font-weight: 400;
    }
}